:root {
    
}

* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    color: #B330B8;
}

body {
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}