* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    color: whitesmoke;
}

body {
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* Barra de Navageción  */

header {
    width: 100%;
    height: 280px;
    background-color: black;
    padding-top: 26px;
}

header nav {
    display: flex;
    width: 100%;
}

header nav .header-nav-right {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

header nav .header-nav-left {
    display: flex;
    justify-content: flex-start;
    margin-left: 32px;
    width: 50%;
}

header nav ul {
    list-style: none;
    width: 320px;
    height: auto;
    display: flex;
    align-items: center;
}

header .header-datos {
    margin-top: 56px;
}

header h1 {
    display: flex;
    justify-content: center;
    font-size: 52px;
}

header p {
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.navegacion-ancla {
    padding-right: 32px;
}




